{% extends 'master.html' %}


{% block title %}
    <title>Список</title>
{% endblock %}

{% block name_list %}
    <div class="table-data_table-header-item-1">
        <a href="{% url 'main:main' %}" style="color: #48555F">ᐊ</a>
        {{ name_list }}
    </div>
{% endblock %}

{% block body_if %}
    {% if row.is_done %}
        <div id="{{ row.id }}" class="table-row_table_cell-1 is_done_text">
            <a href="">{{ row.name }}</a>
        </div>
    {% else %}
        <div id={{ row.id }} class="table-row_table_cell-1">
            <a href="">{{ row.name }}</a>
        </div>
    {% endif %}
{% endblock %}

{% block create %}
    <a class="add_new_list" href={% url 'items:create_item' pk %}>
        <div class="header__button-create-bundle">+</div>
    </a>
{% endblock %}

{% block edit %}
    href={% url 'items:edit_item' pk=row.id %}
{% endblock %}

{% block calendarik %}
    <div class="calendarik">
        {% if row.expr_date == None %}
            <a href='#'>
                <img src=" /static/images/calendar.png" alt="calendar" width="26px" height="24px">
            </a>
        {% else  %}
            <a href='#'> <div class="calendarik"></div>
                {{ row.expr_date|date:"d.m.Y" }}
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block paginator %}
    {% if is_paginated %}
        <div class="table-data__table-row">
            <div class="paginator_class">
                <ul class="pagination-wrapper_button">
                    {% for page in paginator.page_range %}
                        <li>
                            {% if page_obj.number == page %}
                                <a class="active" href="{% url 'items:items' pk %}?page={{ page }}"> {{ page }}</a>
                            {% else %}
                                <a href="{% url 'items:items' pk %}?page={{ page }}">{{ page }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
<script>
    {% block js %}
        const success_url = '{% url 'items:items' pk %}'
        const rows = document.querySelectorAll('.table-row_table_cell-1');
        const doneUrl = '{% url "items:is_done" %}';
        rows.forEach(rows => {
                if (rows.innerText) {
                    rows.addEventListener('click', isDoneRequest)
                }
            }
        );
        const delUrl = '{% url 'items:delete' %}';

        function isDoneRequest(event) {
            const div = event.currentTarget
            const id = event.currentTarget.id
            return fetch(doneUrl, {
                method: 'POST',
                headers: new Headers({'X-CSRFToken': csrftoken}),
                redirect: 'follow',
                body: JSON.stringify({id: id})
            }).then(
                response => {
                    if (response.status == 201) {
                        if (div.classList.contains("is_done_text")) {
                            div.classList.remove("is_done_text")
                        } else {
                            div.classList.add("is_done_text")
                        }
                    } else {
                        alert("Сервер недоступен")
                    }
                }
            )
        }
    {% endblock %}
</script>