{% extends 'master.html' %}


{% block title %}
    <title>Список</title>
{% endblock %}

{% block name_list %}
    <div class="table-data_table-header-item-1">{{ name_list }}</div>
{% endblock %}

{% block body_if %}
    {% if row.is_done %}
        <li class="is_done_text"> {{ row.name }}</li>
    {% else %}
        {{ row.name }}
    {% endif %}
{% endblock %}

{% block calendarik %}
    <div class="calendarik">
        {% if row.date == None %}
            <a href='#'>
                <img src=" /static/images/calendar.png" alt="calendar" width="26px" height="24px">
            </a>
        {% else  %}
            <a href='#'> <div class="calendarik"></div>
                {{ row.date }}
            </a>
        {% endif %}
    </div>
{% endblock %}

