{% extends 'master_create.html' %}

{% block title %}
    Новое дело
{% endblock %}

{% block form %}
    <form class="auth_form_class" action={% url 'items:create_item' pk %} id="auth_form" method="POST">
        {% csrf_token %}
        {{ form.name }}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% else %}
            <br><br>
        {% endif %}
        {{ form.expr_date }}
    </form>
{% endblock %}

{% block cancel_button %}
    <a href={% url 'items:items' pk %}>
        <div class="auth__button_submit" id="login-cancel-btn"><span>&#9587</span></div>
    </a>
{% endblock %}