{% extends 'master.html' %}


{% block title %}
    <title>Главная</title>
{% endblock %}

{% block name_list %}
    <div class="table-data_table-header-item-1">TO DO List</div>
{% endblock %}

{% block create %}
    <a class="add_new_list" href={% url 'main:create' %}>
        <div class="header__button-create-bundle">+</div>
    </a>
{% endblock %}

{% block edit %}
    href={% url 'main:edit' pk=row.id %}
{% endblock %}

{% block body_if %}
    {% if row.is_done %}
        <div class="table-row_table_cell-1 is_done_text">
            <a href="{% url "items:items" pk=row.id %}">{{ row.name }}</a>
        </div>
    {% else %}
        <div class="table-row_table_cell-1">
            <a href="{% url "items:items" pk=row.id %}">{{ row.name }}</a>
        </div>
    {% endif %}
{% endblock %}

{% block paginator %}
    {% if is_paginated %}
        <div class="table-data__table-row">
            <div class="paginator_class">
                <ul class="pagination-wrapper_button">
                    {% for page in paginator.page_range %}
                        <li>
                            {% if page_obj.number == page %}
                                <a class="active" href="{% url 'main:main' %}?page={{ page }}"> {{ page }}</a>
                            {% else %}
                                <a href="{% url 'main:main' %}?page={{ page }}">{{ page }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
<script>
    {% block js %}
        const delUrl = '{% url 'main:delete' %}';
        const success_url = '{% url 'main:main' %}'
    {% endblock %}
</script>